@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto:300,400,500&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
h1{
	font-family: 'Montserrat';
	text-align: center;
	margin: 40px 0;
	font-size: 50px;
	font-weight: 400;
}


h3{
	font-family: 'Montserrat';
	text-align: center;
	margin: 40px 0;
	font-size: 30px;
	font-weight: 400;
}
form{
	width: 80vw;
	margin: auto;
}

form div{
	width: 70vw;
	margin: auto;
	display: flex;
}

form p{
	width: 30vw;
	margin: auto;
}

form p label{
	text-align: center;
}

form p textarea{
	width: 100%;
	height: 30vh;
}
form input[type="submit"]{
	height: 4em;
	width: 10em;
	margin-top: 5em; 
	margin-left: calc(50% - 5em);
	padding: 1.5em auto;
	color:#fff;
	background-color: #3f51b5;

	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	transition: all 0.2s cubic-bezier(.4,0,.2,1);
}
form input[type="submit"]:hover{
	cursor: pointer;
}